.homecon{
    width: 70%;
    margin: auto;
    margin-top: 50px;

    
}
.blogcon{
    width: 100%;
    

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

@media screen and (max-width: 780px) {
    .homecon{
        width: 100%;
        margin: auto;
        margin-top: 30px;
       
        
    }
    .blogcon{
        width: 100%;
        
     
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
}